body {
	margin: 0;
}

.cabecalho {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.cabecalho form {
     display: inline;
     margin: 0px;
     padding: 0px;
}

.cabecalho select {
	margin-left: 8px;
	font-family: sans-serif;
	font-size: 14px;
}

.cabecalho button {
	margin-left: 8px;
	font-family: sans-serif;
	font-size: 14px;
}

.cabecalho input[type=text] {
	padding: 6px 8px;
	border: 1px solid #ccc;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: sans-serif;
	font-size: 14px;
	width: 15%;
	transition: width 0.3s ease-in-out;
}

a {
	color: #000000;
	text-decoration: none;
}

.mini-cabecalho {
    overflow: auto;
	width: 100%;
	padding: 6px 8px;
	border-bottom: 1px solid #ccc;
	font-family: sans-serif;
	font-size: 14px;
    transition: height 200ms ease;
}

.mini-cabecalho-infos {
    margin-top: 10px;
    padding-top: 1px;
    padding-left: 15px;
    clear: left;
}

.mini-cabecalho-infos p {
    padding: 0;
    margin: 0;
    clear: left;
}

.notificacao {
	width: 100%;
	padding: 6px 8px;
	border-bottom: 1px solid #ccc;
}

.notificacao p {
    margin: 0;
    padding: 0;
	color: #86181d;
	font-family: sans-serif;
	font-size: 12px;
}

.infos {
	padding: 6px 8px;
	font-family: sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

.add-popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-popup-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    overflow-y: scroll;
	border: 1px solid #ccc;
	padding: 20px;
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
}

input[type="text"], input[type="number"] {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 6px 8px;
	font-family: sans-serif;
	font-size: 14px;
}

input[type="search"] {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	padding: 6px 8px;
	width 30%;
	font-family: sans-serif;
	font-size: 14px;
}

input[type="submit"] {
	padding: 6px 8px;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	cursor: pointer;
}

custom-form {
	position: absolute;
    height: 100%;
    width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

select {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 6px 8px;
	font-family: sans-serif;
	font-size: 14px;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.canto-esq {
    float: left;
}

.canto-dir {
    float: right;
    padding-right: 8px;
}
