<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}">

<body>
	<div class = login-box>
		<form action="" method="post">
			<label for="nome">Nome</label>
			<input type="text" name="nome"
				value="{{ request.form.nome }}"><br>
			<label for="tamanho">Tamanho</label>
			<input type="text" name="tamanho"
				value="{{ request.form.tam }}"><br>
			<label for="massa">Massa</label>
			<input type="text" name="massa"
				value="{{ request.form.mass }}"><br>
			<label for="gravidade">Gravidade</label>
			<input type="text" name="gravidade"
				value="{{ request.form.grav }}"><br>
			<label for="composicao">Composicao</label>
			<input type="text" name="composicao"
				value="{{ request.form.comp }}"><br>
		</form>
	</div>
</body>
</html>
