<html>
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>

<body>
	<div class="box">
		<div class = login-box>
			<form onsubmit="">
				<label for="tipo">Tipo</label><br>
				<select id="tipo" name="tipo">
					<option value="galaxia">Galáxia</option>
					<option value="sistema">Sistema planetário</option>
					<option value="planeta">Planeta</option>
					<option value="satelite">Satélite natural</option>
					<option value="estrela">Estrela</option>
				</select><br>
				<label for="nome">Nome</label><br>
				<input type="text" name="nome"
					value="{{ request.form.nome }}">
				<label for="galaxia">Galáxia</label><br>
				<input type="text" name="galaxia"
					value="{{ request.form.galaxia }}">
				<label for="sistema">Sistema</label><br>
				<input type="text" name="sistema"
					value="{{ request.form.sistema }}">
				<input type="submit" value="Adicionar">
			</form>
		</div>
	</div>
</body>
</html>
