<html>
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/entidades.css') }}">
</head>

<body>
	<div class="cabecalho">
		<a href="{{ url_for('adicionar') }}"><button type="button">Adicionar</button></a>
		<form action="" method="post">
			<input type="text" name="busca" placeholder="Busca..."
				value="{{ request.form.busca }}">
		</form>
	</div>
	<div class="notificacao">
		<p>Clique nas barras abaixo para consultar as informações de cada planeta.</p>
	</div>
	{% for planeta in lista %}
			<div class="mini-cabecalho">
				{{ planeta.nome }}
			</div>
	{% endfor %}
</body>

</html>
