<html>
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/entidades.css') }}">
    <script src="{{ url_for('static', filename='scripts/entidades.js') }}"></script>
</head>

<body>
	<div class="cabecalho">
		<button type="button" onclick="criar_form()">Adicionar</button>
		<form action="" onsubmit="return search()">
			<input type="search" id="busca_nome" placeholder="Busca...">
			<select id="entidade" style="display: none;">
				<option value="planeta">planeta</option>
				<option value="satelite">satelite</option>
				<option value="estrela">estrela</option>
				<option value="galaxia">galaxia</option>
				<option value="sistema">sistema</option>
			</select>
		</form>
	</div>
	<div class="notificacao">
		<p>Clique nas barras abaixo para consultar as informações de cada planeta.</p>
	</div>
</body>

</html>
