<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}">
	<title>Login</title>
</head>

<body>
	<div class="box">
		<h1>CCM</h1>
		<br><br><br>
		<div class="{{ tipo }}">
			Usuário ou senha inválidos.
		</div>
		<div class="login-box">
			<form action="" method="post">
				<label for="username">Usuário</label><br>
				<input type="text" name="username"
					value="{{ request.form.username }}" required><br>
				<label for="password">Senha</label><br>
				<input type="password" name="password"
					value="{{ request.form.password }}" required><br>
				<input type="submit" value="Entrar">
			</form>
		</div>
		<div class="notify-box">
			<p>Ainda não tem uma conta? <a href="{{ url_for('registro') }}">Registre-se.</a></p>
		</div>
		<br><br><br><br>
	</div>
</body>	

<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>

</html>
